<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>App</title>
  </head>

  <body>
    <h1>
      {{#each breweries}}
        {{!-- TODO(pioter) link to show action --}}
        <h1>{{id}}: {{name}}</h1>
      {{/each}}
    </h1>
  </body>
</html>
