<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>App</title>
</head>

<body>
<form action="/admin/breweries" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="i. e. Ol' Watering Hole">
  <label for="city">City</label>
  <input type="text" id="city" name="city" placeholder="i. e. East Nowherelington">
  <label for="latitude">Latitude</label>
  <input type="text" id="latitude" name="latitude" placeholder="i. e. 0"></input>
  <label for="longitude">Longitude</label>
  <input type="text" id="longitude" name="longitude" placeholder="i. e. 180"></input>
  <button type="submit" class="">Add Brewery</button>
</form>
</body>
</html>
