<script>
  window.yardstick = window.yardstick || {}
  window.yardstick.breweries = {{{breweriesJson}}}
</script>

<div class="breweries-container">
  <div class="breweries-list">
    {{#each breweries}}
    <a href="/{{id}}">
    <div class="card brewery-card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{city}}</h6>
      </div>
    </div>
    </a>
    {{/each}}
  </div>

  <div class="breweries-map" id="map"></div>
</div>
