<div class="margin-b">
  <a href="/admin/breweries/{{brewery.id}}">
    <button class="btn btn-outline-secondary">Back</button>
  </a>
  <button form="edit" type="submit" class="btn btn-outline-warning">Edit Brewery</button>
</div>
<div>
  <form id="edit" action="/admin/breweries/{{brewery.id}}?_method=PUT" method="post">
    {{> new_edit}}
  </form>
</div>
