<a href="/admin/breweries/{{brewery.id}}">
  <button class="btn btn-outline-primary">Back</button>
</a>
<button form="edit" type="submit" class="btn btn-outline-primary">Edit Brewery</button>
<form id="edit" action="/admin/breweries/{{brewery.id}}?_method=PUT" method="post">
  {{> new_edit}}
</form>
