<a href="/admin">
  <button class="btn btn-outline-primary">Back</button>
</a>
<button form="new" type="submit" class="btn btn-outline-primary">Add Brewery</button>
<form id="new" action="/admin/breweries" method="post">
  {{> new_edit}}
</form>
