<div class="margin-b">
  <a href=" /admin ">
    <button class="btn btn-outline-secondary ">Back</button>
  </a>
  <button form="new " type="submit " class="btn btn-outline-secondary ">Add Brewery</button>
</div>
<div>
  <form id="new " action="/admin/breweries " method="post ">
    {{> new_edit}}
  </form>
</div>
