<a href="/admin/breweries">
  <button class="btn btn-outline-primary">Back</button>
</a>
<a href="/admin/breweries/{{brewery.id}}/edit">
  <button class="btn btn-outline-primary">Edit</button>
</a>
<button form="show" type="submit" class="btn btn-outline-danger">Delete</button>
<form id="show" action="/admin/breweries/{{brewery.id}}?_method=DELETE" method="post">
</form>
{{#each brewery}}
<h3>{{@key}}: {{this}}</h3>
{{/each}}
