<a href="/admin/breweries">
  <button class="btn btn-outline-secondary">All breweries</button>
</a>
<a href="/admin/breweries/new">
  <button class="btn btn-outline-secondary">New Brewery</button>
</a>
