<div class="grid">
  <label class="left" for="name">Name:</label>
  <input class="right" value="{{brewery.name}}" type="text" id="name" name="name" placeholder="i. e. Ol' Watering Hole">
  <label class="left" for="city">City:</label>
  <input class="right" value="{{brewery.city}}" type="text" id="city" name="city" placeholder="i. e. East Nowherelington">
  <label class="left" for="latitude">Latitude:</label>
  <input class="right" value="{{brewery.latitude}}" type="text" id="latitude" name="latitude" placeholder="i. e. 0"></input>
  <label class="left" for="longitude">Longitude:</label>
  <input class="right" value="{{brewery.longitude}}" type="text" id="longitude" name="longitude" placeholder="i. e. 180"></input>
</div>
